# Application
APP_NAME=nest-auth-service
APP_VERSION=0.1.0

# Server 
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=3000
# SERVER_CONTEXT=nest-auth-service

# Debugging
ENABLE_DEBUGGING=true
 
# File Logging
ENABLE_LOGGING=true
FILE_LOG_PATH=./src/storage/logs

# Throttle
DEFAULT_THROTTLE_TOTAL=60
DEFAULT_THROTTLE_LIMIT=10

# SMTP
SMTP_HOST=<SMTP_HOST>
SMTP_PORT=<SMTP_PORT>
SMTP_USERNAME=<SMTP_USERNAME>
SMTP_PASSWORD=<SMTP_PASSWORD>
SMTP_IS_SECURE=false

# Azure
AZURE_CLIENT_ID=<AZURE_CLIENT_ID>
AZURE_SECRET_KEY=<AZURE_SECRET_KEY>
AZURE_TENANT_ID=<AZURE_TENANT_ID>
AZURE_CALLBACK_URL=<AZURE_CALLBACK_URL>

# Database Connection 
DATABASE_URL=postgresql://postgres:password@127.0.0.1:5432/web-portal

# Session
ENABLE_SESSION=true
SESSION_SECRET=<strong-session-secret>

# JWT
ENABLE_JWT=true
JWT_SECRET=abc123
# expressed in seconds or a string describing a time span [zeit/ms](https://github.com/zeit/ms.js).  
# Eg: 60, "2 days", "10h", "7d"
JWT_EXPIRES_IN=60000
# JWT will be valid after x amount of milisecond
JWT_NOT_BEFORE=0

# This will validation both session & jwt before consider authentication valid
# This features requires both ENABLE_SESSION=true & ENABLE_JWT=true 
# Default false
STRICT_AUTHENTICATION=true

# Admin Config
SUPERADMIN_USERNAME=admin
SUPERADMIN_PASSWORD=<strong-admin-password>

# Swagger
SWAGGER_ENABLED=true
SWAGGER_TITLE=Nest Auth Service
SWAGGER_DESCRIPTION=Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
SWAGGER_VERSION=${APP_VERSION}